<html ng-app="galleryApp">
  <head>
    <meta charset="utf-8">
    <title>Angular.js JSON Fetching Example</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.2/ui-bootstrap-tpls.min.js"></script>
    <script>
      var galleryApp = angular.module('galleryApp', ['ui.bootstrap']);
      galleryApp.controller('PaintingsCtrl', function ($scope, $http){
        $http.get('/returnAllPaintings').success(function(data) {
          $scope.paintings = data;
          $scope.totalItems = data.length;
        });
        $scope.currentPage = 1;
        $scope.maxSize = 5;
        $scope.itemsPerPage = 3;

        $scope.setPage = function (pageNo) {
          $scope.currentPage = pageNo;
          var begin = (($scope.currentPage - 1) * $scope.itemsPerPage);
          var end = begin + $scope.itemsPerPage;

          $scope.filteredPaintings = $scope.paintings.slice(begin, end);
        };


      });
    </script>
  </head>
  <body ng-controller="PaintingsCtrl">
	<h2>Angular.js JSON Fetching Example</h2>
    <table>
      <tr>
        <th>Code</th>
		<th>Country</th>
        <th>Population</th>
      </tr>
      <tr ng-repeat="painting in filteredPaintings | orderBy: 'price' ">
        <td>{{painting.name}}</td>
		<td>{{painting.size}}</td>
        <td>{{painting.price}}</td>
      </tr>
    </table>

    <uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></uib-pagination>
  </body>
</html>
