<html ng-app="galleryApp">
  <head>
    <meta charset="utf-8">
    <title>Angular.js JSON Fetching Example</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.2/ui-bootstrap-tpls.min.js"></script>
    <script>
      var galleryApp = angular.module('galleryApp', ['ui.bootstrap']);
      galleryApp.controller('PaintingsCtrl', ['$scope','$http', 'dataFactory', function ( $scope, $http, dataFactory){

        $scope.paintings;
        $scope.filteredPaintings;
        $scope.totalItems;
        $scope.currentPage = 1;
        $scope.maxSize = 5;
        $scope.itemsPerPage = 2;
        $scope.filterSold = 0;
        getPaintings();

        function getPaintings() {
            dataFactory.getPaintings()
                .success(function (p) {
                    $scope.paintings = p;
                    $scope.totalItems = p.length;
                    pageChanged();
                })
                .error(function (error) {
                    $scope.status = 'Unable to load Painting data: ' + error.message;
                });
        }

        $scope.pageChanged = function() {
           var begin = (($scope.currentPage - 1) * $scope.itemsPerPage);
           var end = begin + $scope.itemsPerPage;

           $scope.filteredPaintings = $scope.paintings.slice(begin, end);
         };

         $scope.isForSale = function(p) {
           return $scope.filterSold==1 && p.sold === "0";
         };

      }]);

      galleryApp.factory('dataFactory', ['$http', function($http) {

        var urlBase = '/returnAllPaintings';
        var dataFactory = {};

        dataFactory.getPaintings = function () {
          return $http.get(urlBase);
        };

        dataFactory.getPainting = function (id) {
          return $http.get(urlBase + '/' + id);
        };

        dataFactory.insertPainting = function (cust) {
          return $http.post(urlBase, cust);
        };

        dataFactory.updatePainting = function (cust) {
          return $http.put(urlBase + '/' + cust.ID, cust)
        };

        dataFactory.deletePainting = function (id) {
          return $http.delete(urlBase + '/' + id);
        };

        return dataFactory;
      }]);
    </script>
  </head>
  <body ng-controller="PaintingsCtrl">
	<h2>Di Taylor Gallery</h2>
    <table>
      <tr>
        <th>Title</th>
		<th>Size</th>
        <th>Price</th>
      </tr>
      <tr ng-repeat="painting in filteredPaintings | filter:isForSale | orderBy: 'price' ">
        <td>{{painting.name}}</td>
		    <td>{{painting.size}}</td>
        <td>{{painting.price}}</td>
      </tr>
    </table>
    <button type="button" class="btn btn-primary" ng-model="filterSold" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
        Show For Sale Only
    </button>
    <uib-pagination total-items="totalItems" ng-model="currentPage"  items-per-page="itemsPerPage" ng-change="pageChanged()"></uib-pagination>
  </body>
</html>
