<style type="text/css" media="screen,projection">
  .ng-gallery {
    width: 100%;
    height: 100%;
    display: inline-block;
  }

.img-responsive{
  width:100%;
}
.ng-thumbnails{
  cursor: pointer;
  margin-bottom:20px;
}
  .ng-thumbnails > img{
    box-shadow: 0 2px 5px #555;
  }

  .thumbCopy{
    display:none;
    background: rgba(255, 255, 255, 0.6) none repeat scroll 0% 0%;
    position: absolute;
    top: 20px;
    left: 20px;
    bottom: 20px;
    right: 20px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
  }
  .ng-thumbnails:hover > .thumbCopy{
    display:block;
  }
  /* Loading - from http://loading.io */
  .fa {
      color: #d3d3d3;
      font-size: 2.1em;
      vertical-align: middle;
      padding:0 8px;
  }
  uiload {
    display: inline-block;
    position: relative;
  }

  uiload > div {
    position: relative;
  }

  @-webkit-keyframes uil-ring-anim {
    0% {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @-moz-keyframes uil-ring-anim {
    0% {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @-ms-keyframes uil-ring-anim {
    0% {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @keyframes uil-ring-anim {
    0% {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  .uil-ring-css {
    background: red;
    position: relative;
    margin: 10px auto 0 auto;
    width: 100px;
    height: 100px;
  }

  .uil-ring-css > div {
    position: absolute;
    display: block;
    width: 80px;
    height: 80px;
    top: 20px;
    left: 20px;
    border-radius: 40px;
    box-shadow: 0 6px 0 0 #fff;
    -ms-animation: uil-ring-anim 1s linear infinite;
    -moz-animation: uil-ring-anim 1s linear infinite;
    -webkit-animation: uil-ring-anim 1s linear infinite;
    -o-animation: uil-ring-anim 1s linear infinite;
    animation: uil-ring-anim 1s linear infinite;
  }
</style>
<div class="row" style="margin-bottom:20px;">
  <div class=" text-right col-xs-4 col-xs-offset-6">
    <button type="button" class="btn btn-primary" ng-model="filterSold" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
      Show For Sale Only
    </button>
  </div>
</div>
<div class="row">

</div>
<div class="row">
    <div infinite-scroll='loadMore()' infinite-scroll-distance='2'>


    <div style="padding:0px 20px">

      <div masonry>
        <div class="masonry-brick col-xs-12 col-sm-6 col-md-4 col-lg-3 ng-thumbnails" ng-repeat="painting in images">
            <img ng-src="images/thumbs/{{painting.image}}" alt="{{painting.title}}" class="img-responsive">
            <div class="thumbCopy clear text-right">{{ painting.title }}<br/>{{ painting.size }}<br/>{{ painting.price }}</div>
        </div>
      </div>

    </div>
  </div>
</div>
