<style type='text/css'>
.table {
  table-layout:fixed;
}

.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>
<h2>Di Taylor</h2>
<table class="table table-bordered table-striped">
  <thead class="thead-inverse">
    <tr>
      <th>Menu Title</th>
      <th>Menu Link</th>
      <th>Menu Position</th>
      <th>Heading</th>
      <th>SubHeading</th>
      <th>Body</th>
      <th>Footer</th>
      <th>Image</th>
      <th><button type="button" class="btn btn-default" ng-click="showAddNew(page)">Add New</button></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="page in pages" ng-init="getImageFromId(page)">
      <td>{{page.menutitle}}</td>
      <td>{{page.menulink}}</td>
      <td>{{page.rank}}</td>
      <td>{{page.heading}}</td>
      <td>{{page.subheading}}</td>
      <td>{{page.body}}</td>
      <td>{{page.footer}}</td>
      <td>{{page.image}}</td>
      <td><div><button type="button" class="btn btn-default" ng-click="showEditor(page)">Edit</button>
               <button type="button" class="btn btn-default" ng-click="deletePage(page)">Delete</button></div></td>
    </tr>
  </tbody>
</table>
<script type="text/ng-template" id="myPageEditor.html">
        <div class="modal-header">
            <h3 class="modal-title">{{editType}} Page:</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="inputTitle" class="col-sm-4 control-label">Menu Title</label>
                <div class="col-sm-4">
                    <input type="hidden" class="form-control" id="inputId" placeholder="_Id" ng-model="page._id">
                    <input type="text" class="form-control" id="inputMenuTitle" placeholder="MenuTitle" ng-model="page.menutitle">
                </div>
            </div>
            <div class="form-group">
                <label for="inputTitle" class="col-sm-4 control-label">Menu Link</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="inputMenuLink" placeholder="MenuLink" ng-model="page.menulink">
                </div>
            </div>
            <div class="form-group">
                <label for="inputTitle" class="col-sm-4 control-label">Menu Position</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="inputRank" placeholder="Rank" ng-model="page.rank">
                </div>
            </div>
            <div class="form-group">
                    <label for="inputTitle" class="col-sm-4 control-label">Heading</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="inputHeading" placeholder="Heading" ng-model="page.heading">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputSize" class="col-sm-4 control-label">Sub-Heading</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="inputSubHeading" placeholder="SubHeading" ng-model="page.subheading">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPrice" class="col-sm-4 control-label">Body</label>
                    <div class="col-sm-4">
                        <textarea class="form-control" rows="5" id="inputBody" placeholder="Body Text" ng-model="page.body"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputSold" class="col-sm-4 control-label">Footer</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="inputFooter" placeholder="Footer" ng-model="page.footer">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputImage" class="col-sm-4 control-label">Image</label>
                    <div class="col-sm-4">
                    <select class="form-control" id="inputImage" placeholder="Image"
                        ng-model="page.image"
                        ng-options="i._id as i.image for i in paintings"></select>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="submit" ng-click="updatePage(page._id,page.heading,page.subheading,page.body,page.footer,page.image,page.menutitle,page.menulink,page.rank)">Save</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
