<style type='text/css'>
  .listWrapper{float:left; clear:both;border:1px solid black; margin:3px; padding:5px;}
  .listTitle{float:left;padding-right:10px;min-width:200px;}
  .listSize{float:left;padding-right:10px;min-width:100px;}
  .listPrice{float:left;padding-right:10px;min-width:50px;}
  .listImage{float:left;padding-right:10px;min-width:80px;}
  .dropZone{float:left;clear:both;height:10px;width:100px;}
  .lvl-over {border: 2px dashed black !important;}
  .lvl-target {background-color: #ddd;opacity: .5;}
  [draggable] {cursor: move;}
</style>
<h2>Di Taylor</h2>
<p>{{name}}</p>
  <table>
    <tr ng-repeat="painting in paintings | orderBy: 'rank' ">
      <td>
        <span x-lvl-drop-target='true' x-on-drop='dropped(dragID, dropID)'/>
      </td>
    </tr>
  </table>

  <!-- include the uuid service as well as the directive -->
