<style type='text/css'>
  .listWrapper{float:left; clear:both;border:1px solid #777777; margin:0px 3px; padding:5px;width:900px;}
  .listTitle{float:left;padding-right:10px;min-width:250px;}
  .listSize{float:left;padding-right:10px;min-width:140px;}
  .listSold{float:left;padding-right:10px;min-width:100px;}
  .listPrice{float:left;padding-right:10px;min-width:100px;}
  .listImage{float:left;padding-right:10px;min-width:150px;}
  .dropZone{float:left;clear:both;height:5px;width:900px;font-size:8px;margin:0 4px;background-color: #DDD;}
  .lvl-over {border: 2px dashed black !important;height:30px;}
  [draggable] {cursor: move;}
  .center{margin:0 auto;width:900px;}
  ul{list-style: none;margin:5px;padding:0px;}
  li{list-style: none;margin:0px;padding:0px;}
</style>
<h2>Di Taylor</h2>
<p>{{name}}</p>

<table class="table table-bordered table-striped">
  <thead class="thead-inverse">
    <tr>
      <th>Title</th>
      <th>Size</th>
      <th>Landscape</th>
      <th>Price</th>
      <th>Sold</th>
      <th>Image</th>
      <th>Themes</td>
      <th><button type="button" class="btn btn-default" ng-click="showAddNew(page)">Add New</button></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat-start="painting in paintings | orderBy: 'rank'" x-lvl-drop-target='true' x-on-drop='dropped(dragID, dropID)' id='{{painting._id}}'>
      <td colspan="8"></td>
    </tr>
    <tr ng-repeat-end="" element-draggable="true" id='{{painting._id}}'>
        <td>{{painting.title}}</td>
        <td>{{painting.size}}</td>
        <td>{{painting.landscape}}</td>
        <td>{{painting.price}}</td>
        <td>{{painting.sold}}</td>
        <td><img src='images/thumbs/{{painting.image}}' height="50px" onerror="imgError(this)"/></td>
        <td><div ng-repeat="t in painting.themes">{{t.theme}}</div></td>
        <td><button type="button" class="btn btn-default" ng-click="showEditor(painting)">Edit</button>
        <button type="button" class="btn btn-default" ng-click="deletePainting(painting)">Delete</button></td>
    </tr>
    <tr x-lvl-drop-target='true' x-on-drop='dropped(dragID, dropID)' id='last'>
      <td colspan="8"></td>
    </tr>
  </tbody>
</table>
<div class="listWrapper">To move items, drag to the grey areas between paintings.</div>
<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">{{editType}} Painting:</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="inputTitle" class="col-sm-3 control-label">Title</label>
                    <div class="col-sm-8">
                        <input type="hidden" class="form-control" id="inputId" placeholder="_Id" ng-model="painting._id">
                        <input type="hidden" class="form-control" id="inputRank" placeholder="Rank" ng-model="painting.rank">
                        <input type="text" class="form-control" id="inputTitle" placeholder="Title" ng-model="painting.title">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputSize" class="col-sm-3 control-label">Size</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="inputSize" placeholder="Size" ng-model="painting.size">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputLandscape" class="col-sm-3 control-label">Landscape</label>
                    <div class="col-sm-8">
                      <input type="checkbox" class="form-control" id="inputLandscape" placeholder="Landscape" ng-model="painting.landscape">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPrice" class="col-sm-3 control-label">Price</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="inputPrice" placeholder="Price" ng-model="painting.price">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputSold" class="col-sm-3 control-label">Sold</label>
                    <div class="col-sm-8">
                        <input type="checkbox" class="form-control" id="inputSold" placeholder="Sold" ng-model="painting.sold">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputImage" class="col-sm-3 control-label">Image</label>
                    <div class="col-sm-8">
                    <input type="text" class="form-control" id="inputImage" readOnly="readOnly" placeholder="Image" ng-model="painting.image">
                    <input type="file" file-model="myFile"/>
                    </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Themes</label>
                  <div class="col-sm-8">
                    <div class="checkbox" ng-repeat="theme in themes track by theme._id">
                        <label><input type="checkbox" ng-model="painting.themes[theme._id]" ng-click='onChangeSetID(theme)' ng-checked="isChecked(theme._id)">{{theme.theme}}</label>
                    </div>
                  </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="submit" ng-click="uploadFile(painting._id,painting.title,painting.size,painting.price,painting.sold,painting.rank,painting.image,painting.themes,painting.landscape)">Save</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
