<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Im a modal!</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="inputTitle" class="col-sm-4 control-label">Title</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="inputTitle" placeholder="Title" ng-model="painting.title">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-sm-4 control-label">Size</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="inputSize" placeholder="Size" ng-model="painting.size">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-10">
                        <button type="submit" class="btn btn-default" ng-click="ok()">Save</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-10">
                        <button type="submit" class="btn btn-warning" ng-click="cancel()">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
<div class='listWrapper'>
  <div class='listTitle'>{{painting.rank}}</div>
  <div class='listTitle'>{{painting.title}}</div>
  <div class='listSize'>{{painting.size}}</div>
  <div class='listPrice'>{{painting.price}}</td>
  <div class='listImage'><img src='images/thumbs/{{painting.image}}' height="50px"/></div>
  <button type="button" class="btn btn-default" ng-click="showEditor(painting)">Open me!</button>
</div>
<div x-lvl-drop-target='true' x-on-drop='dropped(dragID, dropID)' id='{{painting._id}}'>...</div>
