<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Edit Painting:</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="inputTitle" class="col-sm-4 control-label">Title</label>
                    <div class="col-sm-4">
                        <input type="hidden" class="form-control" id="inputId" placeholder="_Id" ng-model="painting._id">
                        <input type="text" class="form-control" id="inputTitle" placeholder="Title" ng-model="painting.title">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputSize" class="col-sm-4 control-label">Size</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="inputSize" placeholder="Size" ng-model="painting.size">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPrice" class="col-sm-4 control-label">Price</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="inputPrice" placeholder="Price" ng-model="painting.price">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputSold" class="col-sm-4 control-label">Sold</label>
                    <div class="col-sm-4">
                        <input type="checkbox" class="form-control" id="inputSold" placeholder="Sold" ng-model="painting.sold">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputImage" class="col-sm-4 control-label">Image</label>
                    <div class="col-sm-4">
                    <input type="text" class="form-control" id="inputImage" readOnly="readOnly" placeholder="Image" ng-model="painting.image">
                    <input type="file" file-model="myFile"/>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="submit" ng-click="uploadFile(painting._id,painting.title,painting.size,painting.price,painting.sold)">Save</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
<div x-lvl-drop-target='true' x-on-drop='dropped(dragID, dropID)' id='{{painting._id}}' class="dropZone"></div>
<div class='listWrapper'>
  <div class='listTitle'>{{painting.title}}</div>
  <div class='listSize'>{{painting.size}}</div>
  <div class='listPrice'>{{painting.price}}</div>
  <div class='listSold'>{{painting.sold}}</div>
  <div class='listImage'><img src='images/thumbs/{{painting.image}}' height="50px"/></div>
  <button type="button" class="btn btn-default" ng-click="showEditor(painting)">Edit</button>
  <button type="button" class="btn btn-default" ng-click="deletePainting(painting)">Delete</button>
</div>
