<div class="row" style="margin-bottom:50px;" ng-cloak >
  <div class="col-md-5 col-md-push-5 col-md-offset-0 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10" style="margin-top:20px">
    <div class="row" style="margin:0 0 10px 0;">
      <a href="/gallery" alt="click to enter gallery">
        <img src='images/{{image}}' class="col-xs-12 mainimage img-responsive" style="padding:0;" onerror="imgError(this)"/>
      </a>
    </div>
    <div class="pull-right clear text-right"><i>{{title}}</i><br/><i>{{size}}</i></div>
  </div>
  <div class="col-md-offset-1 col-md-4 col-md-pull-5 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10 clear">
    <h2>{{ page.heading }}</h2>
    <h3>{{ page.subheading }}</h3>
    <p class="regularText" ng-bind-html="page.body"></p>
    <p class="regularText" ng-bind-html=" page.footer"></p>
    <p class="regularText">{{ errormessage }}</p>
    </div>
</div>
